<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单首页</title>
</head>
<body>
    <include file="Common:nav" />
    <h1>订单首页</h1>
    <if condition="$count gt 0">
        <h2>所有未完成订单</h2>
        <foreach name="orders" item="v">
            <table>
                <tr>
                    <th>订单号</th>
                    <th>时间</th>
                    <th>配送重量</th>
                    <th>配送方式</th>
                    <th>订单总价</th>
                    <th>付款方式</th>
                    <th>订单状态</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>{$v.order_id}</td>
                    <td>
                        {$v.time|date="Y年m月d日", ###}<br>
                        {$v.time|date="H:i:s", ###}
                    </td>
                    <td>{$v.weight}&nbsp;kg</td>
                    <td>{$v.express}</td>
                    <td>{$v.tot_price}</td>
                    <td>{$v.pay_type}</td>
                    <td>{$v.status}</td>
                    <td>
                        <if condition="$v['status_code'] eq 2">
                            [<a href="{:U(MODULE_NAME.'/Order/completeOrder', array('oid' => $v['id']))}">确认订单</a>]
                            <br>
                            [<a href="{:U(MODULE_NAME.'/Order/returnGoods', array('oid' => $v['id']))}">退货申请</a>]
                        </if>
                        <if condition="$v['status_code'] eq 1">
                            [<a href="">取消订单</a>]
                        </if>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <a href="{:U(MODULE_NAME.'/Order/orderInfo', array('oid' => $v['id']))}">{$v.title}等{$v.count}个商品</a>
                    </td>
                </tr>
            </table>
            <br>
        </foreach>
    <else />
        <h2>无未完成订单</h2>
    </if>
</body>
</html>